USE [master]
GO
/****** Object:  Database [SoanThaoDeThi]    Script Date: 13/11/2017 7:47:58 PM ******/
CREATE DATABASE [SoanThaoDeThi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoanThaoDeThi', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SoanThaoDeThi.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SoanThaoDeThi_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SoanThaoDeThi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoanThaoDeThi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoanThaoDeThi]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 13/11/2017 7:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](100) NULL,
	[ID_DoKho] [int] NULL,
	[ID_MonHoc] [int] NULL,
	[ID_LoaiCauHoi] [int] NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietDeThi]    Script Date: 13/11/2017 7:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDeThi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DeThi] [int] NOT NULL,
	[ID_CauHoi] [int] NULL,
 CONSTRAINT [PK_ChiTietDeThi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DapAn]    Script Date: 13/11/2017 7:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DapAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CauHoi] [int] NULL,
	[TenDapAn] [nvarchar](100) NULL,
	[NoiDungDapAn] [nvarchar](100) NULL,
 CONSTRAINT [PK_DapAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 13/11/2017 7:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDeThi] [nvarchar](50) NULL,
	[TenDeThi] [nvarchar](50) NULL,
	[NgayDeThi] [smalldatetime] NULL,
	[ThoiGian_Phut] [int] NULL,
	[ID_MonHoc] [int] NULL,
 CONSTRAINT [PK_DeThi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoKho]    Script Date: 13/11/2017 7:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoKho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_DoKho] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiCauHoi]    Script Date: 13/11/2017 7:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCauHoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiCauHoi] [nvarchar](100) NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiCauHoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 13/11/2017 7:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([ID], [NoiDung], [ID_DoKho], [ID_MonHoc], [ID_LoaiCauHoi]) VALUES (1, N'Diện tích hình tam giác là', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
SET IDENTITY_INSERT [dbo].[DoKho] ON 

INSERT [dbo].[DoKho] ([ID], [MoTa]) VALUES (1, N'Dễ')
SET IDENTITY_INSERT [dbo].[DoKho] OFF
SET IDENTITY_INSERT [dbo].[LoaiCauHoi] ON 

INSERT [dbo].[LoaiCauHoi] ([ID], [TenLoaiCauHoi], [MoTa]) VALUES (1, N'Câu Hỏi Loại 1', N'Câu hỏi có nhiều lựa chọn A,B,C,D.. nhưng chỉ có 1 đáp án đúng')
INSERT [dbo].[LoaiCauHoi] ([ID], [TenLoaiCauHoi], [MoTa]) VALUES (2, N'Câu Hỏi Loại 2', N'Câu hỏi ghép đôi 2 lựa chọn lại')
SET IDENTITY_INSERT [dbo].[LoaiCauHoi] OFF
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([ID], [TenMonHoc], [MoTa]) VALUES (1, N'Anh Văn', NULL)
INSERT [dbo].[MonHoc] ([ID], [TenMonHoc], [MoTa]) VALUES (2, N'Toán', NULL)
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_DoKho] FOREIGN KEY([ID_DoKho])
REFERENCES [dbo].[DoKho] ([ID])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_DoKho]
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_LoaiCauHoi] FOREIGN KEY([ID_LoaiCauHoi])
REFERENCES [dbo].[LoaiCauHoi] ([ID])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_LoaiCauHoi]
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_MonHoc] FOREIGN KEY([ID_MonHoc])
REFERENCES [dbo].[MonHoc] ([ID])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_MonHoc]
GO
ALTER TABLE [dbo].[ChiTietDeThi]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDeThi_CauHoi] FOREIGN KEY([ID_CauHoi])
REFERENCES [dbo].[CauHoi] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDeThi] CHECK CONSTRAINT [FK_ChiTietDeThi_CauHoi]
GO
ALTER TABLE [dbo].[ChiTietDeThi]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDeThi_DeThi] FOREIGN KEY([ID_DeThi])
REFERENCES [dbo].[DeThi] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDeThi] CHECK CONSTRAINT [FK_ChiTietDeThi_DeThi]
GO
ALTER TABLE [dbo].[DapAn]  WITH CHECK ADD  CONSTRAINT [FK_DapAn_CauHoi] FOREIGN KEY([ID_CauHoi])
REFERENCES [dbo].[CauHoi] ([ID])
GO
ALTER TABLE [dbo].[DapAn] CHECK CONSTRAINT [FK_DapAn_CauHoi]
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_MonHoc] FOREIGN KEY([ID_MonHoc])
REFERENCES [dbo].[MonHoc] ([ID])
GO
ALTER TABLE [dbo].[DeThi] CHECK CONSTRAINT [FK_DeThi_MonHoc]
GO
USE [master]
GO
